*{
	margin: 0;padding: 0;box-sizing: border-box; 
}

header{
	width: 100%;height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('../IMAGE/Online\ Shopping\ Girl.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;display: flex;justify-content: space-between;
	align-items: center;text-transform: uppercase;
}

nav .logo{
	width: 25%;text-align: center;
	/*background: red;*/
}

nav .menu{
	width: 40%;
	display: flex;justify-content: space-around;
}

nav .menu a{
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;	 
}

nav .menu a:first-child{
	color: #00b894;

}

main{
	width: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;color: white;
}

section{
	margin-top: 100px;
}

section h3{
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	margin: 30px;
	font-size: 50px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

section p{
	font-size: 20px;
	color: #eee;
	white-space: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

section .btnone{
    /*background: #00b894;*/
    background: #fff;
    color: #000;
}
.btnone:hover{
	background: #00b894;
	color: white; 
}

section .btntwo{
	background: #00b894;
	color: white; 
}

.btntwo:hover{
	background: #fff;
    color: #000;
}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}

@keyframes  changetext{
	0%{content: "PUNE"}
	20%{content: "MUMBAI"}
	35%{content: "DELHI"}
	60%{content: "KERALA"}
	80%{content: "JAIPUR"}
	100%{content: "MAHAD"}
}